$min-width: 250px;
$max-panel-width: 500px;
$border-radius-1: 1rem;
$gap1: 8px;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: sans-serif;

  --color-primary: rgb(6, 82, 162);
  --color-text: rgb(48, 48, 48);
  --color-background: white;
}
body {
  background-image: linear-gradient(to bottom right, #212124, #0E0D1C);
  color: white;
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 1rem;
  padding-bottom: 200px;
  align-items: center;
}

.sums {
  opacity: .5;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

h1 {
  padding: 50px;
}
h1, h2 {
  text-transform: uppercase;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* TOTAL */
nav {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  flex-direction: column;
  color: rgb(22, 22, 22);
  align-items: center;
  background-color: rgba(233, 233, 233, 0.884);
  padding: 0 10px;
  text-transform: uppercase;
  width: clamp($min-width, 100%, $max-panel-width);
  backdrop-filter: blur(5px);

  .switch {
    display: flex;
    column-gap: .5rem;
    background-color: var(--color-primary);
    border-radius: .5rem;
    color: var(--color-background);
    padding: 3px;

    select, #price {
      background-color: var(--color-background);
      padding: 5px;
      border-radius: 5px;
      border: none;
      max-width: 50px;
      text-align: center;
    }
  }

  & > * {
    width: 100%;
    padding: .7rem;
    display: flex;
    column-gap: 1em;
  }
  #total {
    justify-content: space-between;
    align-items: center;
    color: var(--color-primary);
    font-weight: bold;
    font-size: 1.2rem;
    column-gap: 2em;

    .title {
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: baseline;
    }
    .value {
      text-align: right;

      & > :nth-child(1) {
        font-size: 1.7rem;
      }
      & > :nth-child(2) {
        color: black;
        opacity: .2;
      }
    }
  }
}
nav .buttons {
  border-radius: 1rem 1rem 0 0;
  background-color: var(--color-primary);
  background-image: linear-gradient(rgba(219, 219, 219, 0.185), rgba(26, 26, 26, 0.226));
  color: white;
  justify-content: space-around;
}
nav button {
  color: var(--color-background);
  text-transform: uppercase;
  font-size: 1.2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: clamp(200px, 100%, 800px);

  .title, .content {
    border: solid 2px var(--color-primary);
  }
  .title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-primary);
    border-radius: $border-radius-1 $border-radius-1 0 0;
    padding: 5px;
  }
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: $gap1;
    padding: $gap1;
    background-color: rgba(240, 248, 255, 0.041);
    border-radius: 0 0 $border-radius-1 $border-radius-1;
  }
}

// Items
.item {
  border: 2px solid rgb(173, 173, 173);
  box-shadow: inset 0px 0px 20px rgba(6, 6, 6, .6);
  opacity: .5;
  transition: border-color .25s, opacity .25s;
  border-radius: 15px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 225px;

  .btn {
    background-color: var(--color-background);
    transition: background-color .25s;
    background-image: linear-gradient(rgba(255, 255, 255, 0.288), #2f2f2f11);
    border-radius: 12px;
    padding: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    
    button {
      color: rgb(0, 0, 0);
      cursor: pointer;
      background-color: transparent;
      border: none;
      padding: 0 10px;
      font-size: 1.5rem;
      font-weight: bold;
    }
    .disabled {
      opacity: .2;
    }
    input {
      background-color: transparent;
      border: none;
      text-align: center;
      font-size: 1.5rem;
      max-width: 50px;
    }
  }

  .values {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: $gap1;
    overflow: auto;

    & > :first-child {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
}
.item.active {
  opacity: 1;
  border-color: var(--color-primary);

  .btn {
    background-color: var(--color-primary);
  }
}
