*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: Arial, sans-serif;
}
body {
  background-color: rgb(24, 24, 24);
  color: white;
  text-align: center;
}

h1 {
  padding: 2rem;
}

.btn {
  background-color: rgb(235, 235, 235);
  background-image: linear-gradient(#fff0, #2f2f2f30);
  border-radius: 12px;
  padding: 10px;
}
.btn button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0 10px;
  font-size: 1.5rem;
  font-weight: bold;
}
.btn .disabled {
  opacity: .2;
}
.item .value {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px;
}
.btn input {
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 1.5rem;
  max-width: 50px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* TOTAL */
#total {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: rgba(233, 233, 233, 0.884);
  color: rgb(22, 22, 22);
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#total .title {
  text-transform: uppercase;
}
#total .value {
  font-size: 2rem;
}

.container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  background-color: rgba(240, 248, 255, 0.11);
}
.item {
  border: 2px solid white;
  border-radius: 15px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
