$min-width: 250px;
$max-panel-width: 500px;
$border-radius-1: 1rem;
$trasition-speed-1: .25s;
$gap1: 8px;
$gap2: 2rem;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: sans-serif;

  --color-primary: #0073ec;
  --color-text: rgb(48, 48, 48);
  --color-background-1: rgb(243, 243, 243);
  --color-background-2: rgb(138, 138, 138);
}
body {
  background-image: linear-gradient(to bottom right, #212124, #0E0D1C);
  color: white;
  text-align: center;
  min-width: 250px;
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-image: linear-gradient(var(--color-primary), transparent);
  z-index: -1;
}
#app {
  min-height: 100vh;
  padding-bottom: 200px;
}
.sums {
  opacity: .8;
  font-weight: bold;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
h1, h2 {
  text-transform: uppercase;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// Main
main {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 2;
  row-gap: $gap2;
  padding: $gap1;

  & > * {
    grid-column: span 12;
    justify-self: center;
  }
}

// Welcome
#welcome {
  text-transform: uppercase;
  display: flex;
  padding: 1rem;
  padding-top: 50px;

  h1 {
    padding: 10px;
    font-size: 2.5rem;
  }
}

// Controll Panel
nav {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  flex-direction: column;
  color: rgb(22, 22, 22);
  align-items: center;
  background-color: rgba(233, 233, 233, 0.884);
  padding: 0 10px;
  text-transform: uppercase;
  width: clamp($min-width, 100%, $max-panel-width);
  backdrop-filter: blur(5px);

  .switch {
    display: flex;
    column-gap: .5rem;
    background-color: var(--color-primary);
    border-radius: .5rem;
    color: var(--color-background-1);
    padding: 3px;

    select, #price {
      background-color: var(--color-background-1);
      padding: 5px;
      border-radius: 5px;
      border: none;
      text-align: center;
    }
    #price {
      width: 60px;
    }
  }

  & > * {
    width: 100%;
    padding: .7rem;
    display: flex;
    column-gap: 1em;
  }
  #total {
    justify-content: space-between;
    align-items: center;
    color: var(--color-primary);
    font-weight: bold;
    font-size: 1.2rem;
    column-gap: 2em;

    .title {
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: baseline;
    }
    .value {
      text-align: right;

      & > :nth-child(1) {
        font-size: 1.7rem;
      }
      & > :nth-child(2) {
        color: black;
        opacity: .2;
      }
    }
  }
}
nav .buttons {
  border-radius: 1rem 1rem 0 0;
  background-color: var(--color-primary);
  background-image: linear-gradient(rgba(219, 219, 219, 0.185), rgba(26, 26, 26, 0.226));
  color: white;
  justify-content: space-around;
}
nav button {
  color: var(--color-background-1);
  text-transform: uppercase;
  font-size: 1.2rem;
}

// Container
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: clamp(200px, 100%, 800px);

  .title, .content {
    border: solid 2px var(--color-background-2);
    transition: border-color $trasition-speed-1;
  }
  .title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--color-text);
    background-color: var(--color-background-2);
    transition: background-color $trasition-speed-1;
    border-radius: $border-radius-1 $border-radius-1 0 0;
    padding: 5px;
  }
  &:not(.saves) > .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: $gap1;
  }
  .content {
    padding: $gap1;
    background-color: rgba(31, 31, 31, 0.719);
    border-radius: 0 0 $border-radius-1 $border-radius-1;
  }
}
section.active {
  .title, .content {
    border-color: var(--color-primary);
  }
  .title {
    background-color: var(--color-primary);
  }
}

// Items
.item {
  border: 2px solid rgb(173, 173, 173);
  box-shadow: inset 0px 0px 20px rgba(6, 6, 6, .6);
  opacity: .5;
  transition: border-color .25s, opacity .25s;
  border-radius: 15px;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn {
    background-color: var(--color-background-1);
    transition: background-color .25s;
    background-image: linear-gradient(rgba(255, 255, 255, 0.288), #2f2f2f11);
    border-radius: 12px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    
    button {
      color: rgb(0, 0, 0);
      cursor: pointer;
      background-color: transparent;
      border: none;
      font-size: 1.5rem;
      font-weight: bold;
    }
    .disabled {
      opacity: .2;
    }
    input {
      background-color: transparent;
      border: none;
      text-align: center;
      font-size: 1.5rem;
      max-width: 40px;
    }
  }

  .values {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: $gap1;
    overflow: auto;

    & > :first-child {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
}
.item.active {
  opacity: 1;
  border-color: var(--color-primary);

  .btn {
    background-color: var(--color-primary);
  }
}

// Saves
.saves {
  display: flex;
  flex-direction: column;
  height: 100%;

  .content {
    padding: 0;
    height: 100%;
  }
  .table-content {
    overflow: auto;
    max-height: 208px;
  }

  .table-header, .row {
    display: flex;
    justify-content: space-around;
  }
  .row {
    border-bottom: 2px solid var(--color-text);
  }

  .row div, .table-header div {
    flex: 1;
    padding: 8px;
  }
  
  .table-header {
    font-weight: bold;
    background-color: var(--color-background-2);
    color: var(--color-text);
    opacity: .8;
  }

  button {
    padding: .5rem;
    color: var(--color-background-2);
  }
}

@media only screen and (min-width: 1000px) {
  body::after {
    display: none;
  }
  main {
    column-gap: $gap2;
    padding: $gap2;
    padding-top: 10vh;
    max-width: 1200px;

    & > * {
      grid-column: span 6;
    }
    & > :first-child {
      grid-area: 1 / 7 / 2 / 13;
    }
    .saves {
      grid-area: 2 / 7 / 3 / 13;
      align-self: baseline;
    }
  }
}